# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/dist/
/build/

# Environment files
.env
.env.local
.env.*.local

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/

# Misc
*.log
*.sqlite
*.bak

# Ignore client and server build artifacts
client/dist/
server/dist/
seed.js
mockdata.js